<!DOCTYPE html>
<html>
  <head>
    <title>Bands and Venues</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Bands and Venues</h1>
        <a href="/"><button class="btn btn-primary" type="button" name="home">Home</button></a>
        <a href="/bands"><button class="btn btn-primary" type="button" name="bands">Add Bands</button></a>
        <a href="/venues"><button class="btn btn-primary" type="button" name="venues">Add Venues</button></a>
      </div>

      #parse( $template )

    </div>
  </body>
</html>
